.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap
}
.material-icons{
    font-size: 2.4em;
    cursor: pointer;
}
.card{
    width: 300px;
}
.card .card-image .card-title{
    color: black;
    font-weight: 400
}
.cart{
    margin-top:40px;
}
.collection .collection-item{
    display: flex;
}
.collection-item.avatar .title {
    font-size: 20px;
    font-weight: 500;
    color: #ee6e73;
    display: block;
    margin-bottom: 20px;
    
}
.collection .collection-item img{
    width: 150px;
    margin-right: 25px;
}
.item-desc{
    align-self:center;
}
/* ------------GENERAL STYLES------------ */

.title-container {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
    color: rgb(92,92,92,1);
    padding-top: 60px;
    padding-bottom: 40px;
}

/* ------------COMPONENTS------------ */

/* ------------NavBar------------ */

.navbar {
    box-shadow: 0px 4px 4px 0px rgb(0,0,0,0.25);
    font-family: 'Cormorant Unicase', serif;
    background-color: white;
    display: flex;
}

/* ------------Footer------------ */

.footer {
    background-color: rgb(210,163,145,0.65);
    color: rgb(92,92,92,1);
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer h5 {
    font-family: 'Cormorant Unicase', serif;
    text-align: center;
}

.footer ul {
    text-align: center;
    padding-left: 0%;
}

.footer p {
    font-family: 'Darker Grotesque', serif;
    text-align: center;
    padding-left: 0%;
}

.footer ul li {
    font-family: 'Darker Grotesque', serif;
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    color: rgb(92,92,92,1);
}

.white-footer {
    background-color: white;
    padding: 5px;
    font-family: 'Darker Grotesque', serif;
    color: rgb(92,92,92,1);
}

/* ------------Products------------ */

.product-container {
    font-family: 'Darker Grotesque', serif;
    color: rgb(92,92,92,1);
}

/* ------------PAGES------------ */
/* ------------HOME:Best Seller Section------------ */

.best-seller-container {   
    background-color: rgb(242,242,242,1);
    padding-bottom: 60px;
}

.products-container {
    padding-left: 100px;
    padding-right: 100px;
}

/* ------------HOME:100% Handmade Section------------ */

.handmade-container {
    background-color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.title-handmade {
    font-family: 'Cormorant Unicase', serif;
    color: rgb(92,92,92,1);
}

.text-handmade1 {
    color: rgb(210,163,145,1);
    font-family: 'Darker Grotesque', serif;
    padding-right: 20%;
    text-align: left;
    padding-top: 60px;
    letter-spacing: 2px; 
    font-size: 18px;
}

.text-handmade2 {
    color: rgb(92,92,92,1);
    font-family: 'Darker Grotesque', serif;
    text-align: left;
    padding-top: 60px;
    padding-left: 30%;
    letter-spacing: 2px; 
    font-size: 18px;
}

/* ------------HOME: Workshops Section------------ */

.workshops-container {
    text-align: center;
    background-color: rgb(242,242,242,1);
    padding-bottom: 60px;
}

.workshop-container {
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

/* ------------HOME: Behind the Scenes Section------------ */

.behind-scenes-container {
    padding-bottom: 60px;
}

.behind-text {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    width: 70%;
    color: rgb(92,92,92,1);
}

.signing {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-size: 18px;
    width: 40%;
    color: rgb(210,163,145,1);
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 13%;
}
